.social-block {
  position: relative;

  &:hover {
    .social-block__list {
      display: block;

      & .social-block__item {
        opacity: 1;
        transform: translate3d(0, 0, 0);

        &:nth-child(2) {
          transition-delay: $social-block-toggler-active-list-item-delay;
        }

        &:nth-child(3) {
          transition-delay: $social-block-toggler-active-list-item-delay * 2;
        }
      }
    }
  }
}

.social-block__toggler {
  @include btn-reset;
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: $c-dark;
  transition: color $social-block-toggler-hover-duration;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: $c-light;
    transition: background-color $social-block-toggler-hover-duration ease-out,
      box-shadow $social-block-toggler-hover-duration ease-out;
    will-change: transform;
    transform: scale(0);
    transform-origin: center;
    animation: social-block-toggler-grow $social-block-toggler-grow-animation-duration $social-block-toggler-grow-animation-delay ease-out forwards;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }

  svg {
    @include center;
    display: block;
    width: 2.3rem;
    height: 2.2rem;
  }

  &:hover,
  .social-block--active & {
    color: $c-purple;
  }

  &:hover {
    &::before {
      box-shadow: 0 0 0 2px $c-light;
    }
  }

  &:focus {
    color: $c-light;
    outline: none;

    &::before {
      background-color: $c-purple;
      box-shadow: 0 0 0 0 $c-purple;
    }

    &:hover {
      &::before {
        background-color: $c-purple;
        box-shadow: 0 0 0 2px $c-purple;
      }
    }

    & + .social-block__list {
      opacity: 1;
      pointer-events: auto;

      & .social-block__item {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &:active,
  &:active:focus {
    color: $c-light;

    &::before {
      width: 100%;
      height: 100%;
      border-color: $c-purple;
      background-color: $c-purple;
      box-shadow: 0 0 0 2px $c-purple;
    }
  }
}

.social-block__list {
  @include list-reset;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1.5rem;
  opacity: 0;
  pointer-events: none;

  @media (min-width: $stop-scaling) {
    margin-top: 15px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    left: 0;
    height: 1.5rem;

    @media (min-width: $stop-scaling) {
      height: 15px;
    }
  }

  &:hover {
    opacity: 1;
    pointer-events: auto;
  }

  &:focus-within {
    opacity: 1;
    pointer-events: auto;
  }

  .social-block--active & {
    opacity: 1;
    pointer-events: auto;
  }

  li {
    flex: none;
    margin-bottom: 0.5rem;

    @media (min-width: $stop-scaling) {
      margin-bottom: 5px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin: 0 1.25rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin: 0 1.25rem;
    }
  }
}

.social-block__item {
  opacity: 0;
  transition: opacity $social-block-toggler-active-list-item-duration ease-out,
    transform $social-block-toggler-active-list-item-duration ease-out;
  transform: translate3d(0, 25%, 0);
}

.social-block__link {
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  border: 2px solid transparent;
  border-radius: 50%;
  color: $c-light;
  transition: color $social-block-toggler-active-list-item-duration;

  @media (min-width: $stop-scaling) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    background-color: $c-dark;
    color: $c-light;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    background-color: $c-dark;
    color: $c-light;
  }

  &:hover {
    color: $c-purple;
  }

  &:focus {
    border-color: $c-purple;
    background-color: $c-light;
    color: $c-purple;
    outline: none;
  }

  &:active,
  &:active:focus {
    border-color: $c-light;
    background-color: $c-light;
    color: $c-purple;
  }

  svg {
    @include center;
  }

  &--fb {
    svg {
      width: 0.8rem;
      height: 1.7rem;

      @media (min-width: $stop-scaling) {
        width: 8px;
        height: 17px;
      }
    }
  }

  &--insta {
    svg {
      width: 1.5rem;
      height: 1.5rem;

      @media (min-width: $stop-scaling) {
        width: 15px;
        height: 15px;
      }
    }
  }

  &--vk {
    svg {
      width: 1.7rem;
      height: 1rem;

      @media (min-width: $stop-scaling) {
        width: 10px;
        height: 10px;
      }
    }
  }
}

@keyframes social-block-toggler-grow {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
