$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical",  "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;

/* region animation timing */
$animation-duration-xxs: 0.1s;
$animation-duration-xs: 0.15s;
$animation-duration-base: 0.3s;
$animation-duration-xl: 0.5s;
$animation-duration-xxl: 1s;

$animation-delay-base: 0.1s;
$animation-delay-xl: 0.3s;
$animation-delay-xxl: 0.5s;
/* endregion animation timing */

/* region page header */
$page-header-menu-item-active-stripe-duration: $animation-duration-base;
$page-header-menu-item-active-stripe-delay: $animation-delay-base;

$page-header-menu-animation-duration: $animation-duration-xl;
$page-header-menu-animation-delay: $animation-delay-xl;
/* endregion page header */

/* region social block */
$social-block-toggler-grow-animation-duration: $animation-duration-base;
$social-block-toggler-grow-animation-delay: $animation-delay-xxl;

$social-block-toggler-hover-duration: $animation-duration-base;

$social-block-toggler-active-list-item-duration: $animation-duration-base;
$social-block-toggler-active-list-item-delay: $animation-delay-base;

$social-block-toggler-active-list-link-duration: $animation-duration-xxs;
$social-block-toggler-active-list-link-delay: $animation-delay-base;
/* endregion social block */

/* region intro message */
$intro-message-animation-duration: $animation-duration-xxl;
$intro-message-animation-delay: $animation-delay-xxl;
/* endregion intro message */

/* region slider item */
$slider-item-active-text-transition-duration: $animation-duration-base;
$slider-item-active-text-transition-delay: $animation-delay-xl;

$slider-item-next-text-transition-duration: $animation-duration-base;
$slider-item-next-text-transition-delay: $animation-delay-xxl;

$slider-item-text-transition-duration: $animation-duration-xxs;
/* endregion slider item */

/* region screen game */
$screen-game-form-field-animtaion: $animation-duration-xl;
/* endregion screen game */
